@import 'fonts';
*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
address,
p,
input,
button,
div {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Encode Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    box-sizing: border-box;
    color: #fff;
}

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mQ($arg...) {
    @if length($arg)==1 {
        @media screen and (max-width: nth($arg, 1)) {
            @content;
        }
    }
    @if length($arg)==2 {
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
            @content;
        }
    }
}

.show-nav {
    display: flex !important;
}

.menu-and-banner {
    background: url('../images/banner-bg.jpg') no-repeat;
    background-size: cover;
    // background-position: 100%;
    background-position: left;
    // min-height: 100vh;
    // min-height: 807px; //as psd
    height: 100vh;
    @include mQ(480px,
    320px) {
        height: 90vh;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        .hamburger {
            margin-left: 34px;
            cursor: pointer;
            display: inline-block;
            @include mQ(480px,
            320px) {
                margin-left: 10px;
            }
            nav.main-nav {
                height: 100vh;
                width: 100%;
                position: absolute;
                background: #23262a;
                left: 0%;
                top: 0%;
                z-index: 6;
                @include center();
                display: none;
                a {
                    // font-family: 'Encode Sans';
                    font-family: 'Source Sans Pro';
                    font-size: 70px;
                    text-decoration: none;
                    font-weight: 700;
                }
                span {
                    font-size: 80px;
                    position: absolute;
                    left: 3%;
                    top: 0%;
                }
            }
            i.fas {
                font-size: 19px;
                color: #6e7680;
                width: 27px;
            }
            i#hamburger:hover {
                color: #fff;
            }
        }
        .site-title {
            margin-right: 41px;
            @include mQ(480px,
            320px) {
                margin-right: 10px;
            }
            h1 {
                font-weight: 500;
                color: #6e7680;
                font-size: 15px;
                line-height: 80px;
            }
        }
        h1 {
            font-family: 'Encode Sans';
            font-weight: 700;
            color: #3a3d44;
            font-size: 19px;
            line-height: 80px;
            display: inline;
        }
    }
    .banner {
        // padding-top: 250px;
        padding-left: 189px;
        display: flex;
        align-items: center;
        height: 100%;
        @include mQ(1024px,
        768px) {
            padding-left: 15px;
            height: auto;
            flex-direction: column;
        }
        @include mQ(767px,
        481px) {
            padding-left: 15px;
            height: auto;
            flex-direction: column;
        }
        @include mQ(480px,
        320px) {
            padding-left: 15px;
            height: auto;
            flex-direction: column;
        }
        .banner-text {
            font-family: 'Encode Sans';
            font-weight: 500;
            color: #fff;
            font-size: 56px;
            line-height: 76px;
            max-width: 531px;
            @include mQ(480px,
            320px) {
                font-size: 32px;
                line-height: 55px;
            }
            @include mQ(767px,
            481px) {
                font-size: 37px;
            }
            @include mQ(1024px,
            768px) {
                max-width: 100%;
            }
        }
    }
    .animation-container {
        // width: 100%;
        @include mQ(480px,
        320px) {
            // position: relative;
            // top: 248px;
        }
        .thumbs-up {
            position: absolute;
            animation: rocket 3s ease-in-out forwards;
            @include mQ(480px,
            320px) {
                left: 13%;
                // margin: -20px;
            }
            img.mobile {
                width: 100%;
            }
            .hand {
                position: absolute;
                top: 29%;
                left: 38%;
                opacity: 0;
                width: 58.8059701493%;
                animation: like 1s 3s ease-in-out forwards;
            }
        }
    }
}

@keyframes like {
    0% {
        top: 20%;
        left: 29%;
        opacity: 0;
    }
    100% {
        top: 29%;
        left: 38%;
        opacity: 1;
    }
}

@keyframes rocket {
    0% {
        right: 36%;
        bottom: -24%;
    }
    100% {
        right: 13%;
        bottom: 19%;
    }
}

// .clickable-icon {
//     width: 17px;
//     text-align: center;
//     position: fixed;
//     top: 165px;
//     right: 34px;
//     z-index: 1;
// }
.clickable-icon {
    position: fixed;
    top: 40%;
    right: 3%;
    z-index: 5;
    .circle.active {
        background: #fff;
    }
    .circle {
        width: 17px;
        height: 17px;
        background: #535356;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            background: #222528;
            height: 11.5px;
            width: 11.5px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            content: '';
            display: block;
            height: 38px;
            background: #535356;
            width: 3px;
            position: absolute;
            top: 100%;
            left: 43%;
            // transform: translateX(-50%);
            cursor: default;
        }
    }
    .second-circle {
        position: absolute;
        top: 55px;
    }
    .third-circle {
        position: absolute;
        top: 110px;
    }
    .fourth-circle {
        position: absolute;
        top: 165px;
    }
    .fifth-circle {
        position: absolute;
        top: 220px;
    }
    .last-circle::after {
        display: none;
    }
}

.section-heading {
    font-family: 'Encode Sans';
    font-weight: 500;
    font-size: 45px;
    line-height: 57.96px;
    color: #fff;
    padding-top: 89px;
    padding-bottom: 104px;
    text-align: center;
    @include mQ(480px,
    320px) {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    @include mQ(767px,
    481px) {
        padding-top: 35px;
        padding-bottom: 60px;
    }
    @include mQ(1024px,
    768px) {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.text {
    p {
        font-family: 'Source Sans Pro';
        font-size: 17px;
        line-height: 22px;
    }
}

.about-us {
    background: #23262a;
    min-height: 782px;
    position: relative;
    z-index: 1;
    .section-heading p {
        font-family: 'Encode Sans';
        font-weight: 500;
        font-size: 45px;
        line-height: 57.96px;
    }
    .details {
        display: flex;
        padding-left: 99px;
        @include mQ(480px,
        320px) {
            padding-left: 15px;
            flex-direction: column;
        }
        @include mQ(767px,
        481px) {
            padding-left: 15px;
            flex-direction: column;
        }
        @include mQ(1024px,
        768px) {
            padding-left: 15px;
        }
        .text {
            max-width: 541px;
            padding-right: 120px;
            @include mQ(480px,
            320px) {
                max-width: 100%;
                padding-right: 15px;
                padding-bottom: 50px;
            }
            @include mQ(767px,
            481px) {
                padding-right: 15px;
            }
            @include mQ(1024px,
            768px) {
                padding-right: 0px;
            }
            p {
                padding-bottom: 73px;
                @include mQ(480px,
                320px) {
                    padding-bottom: 50px;
                }
            }
        }
    }
    .opportunities {
        position: relative;
        height: 410px;
        top: 35px;
        @include mQ(480px,
        320px) {
            height: auto;
            top: 0;
            margin-right: 10px;
            margin-bottom: 30px;
        }
        @include mQ(767px,
        481px) {
            height: auto;
            top: 0;
            margin-right: 10px;
            margin-bottom: 30px;
        }
        img.cross {
            position: static;
            width: 100%;
        }
        .brand-builder {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            @include center;
        }
        .bulb {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            @include center;
            // width: 33.82%;
        }
        .well-organized {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            @include center;
        }
        .content-creator {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            @include center;
        }
        p {
            font-family: 'Encode Sans';
            font-size: 17.53px;
            line-height: 26.97px;
            margin-top: 28px;
        }
    }
    p {
        font-family: 'Source Sans Pro';
        font-size: 17px;
        line-height: 22px;
    }
}

nav h6.text-active {
    color: #fff;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        position: absolute;
        bottom: -6px;
    }
}

.core-value {
    min-height: 909px;
    background: #1b1d20;
    .section-heading {
        p {
            font-family: 'Encode Sans';
            font-weight: 500;
            font-size: 45px;
            line-height: 57.96px;
        }
    }
    nav {
        display: flex;
        max-width: 1076px;
        margin-bottom: 111px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
    h6 {
        font-family: 'Source Sans Pro';
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        flex: 1;
        text-decoration: none;
        color: #494a4d;
        text-align: center;
        border: 1px solid #333639;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: none;
        position: relative;
        cursor: pointer;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        @include mQ(480px,
        320px) {
            flex-basis: 150px;
        }
        @include mQ(767px,
        481px) {
            flex-basis: 150px;
        }
    }
    .details.active-detail {
        display: flex;
    }
    .details {
        display: flex;
        padding-left: 150px;
        display: none;
        @include mQ(480px,
        320px) {
            padding-left: 15px;
            flex-direction: column;
        }
        @include mQ(767px,
        481px) {
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
        }
        .text {
            order: 2;
            max-width: 397px;
            padding-right: 110px;
            padding-left: 50px;
            @include mQ(480px,
            320px) {
                padding-right: 10px;
                padding-left: 0px;
                max-width: 100%;
            }
            @include mQ(767px,
            481px) {
                margin-top: 35px;
                max-width: 100%;
                padding: 0;
            }
            h2 {
                font-family: 'Encode Sans';
                font-weight: 500;
                padding-bottom: 42px;
                font-size: 24px;
                line-height: 22px;
                @include mQ(480px,
                320px) {
                    text-align: center;
                    margin-top: 35px;
                }
                @include mQ(767px,
                481px) {
                    text-align: center;
                }
            }
            p {
                padding-bottom: 35px;
            }
        }
        .image {
            img {
                width: 100%;
                order: 1;
            }
        }
    }
}

.pt-0 {
    padding-top: 0;
}

hr {
    background: #56595c;
    height: 1px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    ;
}

.clients {
    background: url('../images/background.jpg') no-repeat;
    min-height: 1148px;
    position: relative;
    background-attachment: fixed;
    background-position: 0%;
    background-size: cover;
    .section-heading {
        padding-top: 79px;
        padding-bottom: 84px;
        @include mQ(480px,
        320px) {
            padding-top: 10px;
            padding-bottom: 45px;
        }
        p {
            font-size: 32.94px;
            line-height: 61.9px;
            font-family: 'Encode Sans';
            font-weight: 500;
        }
    }
    .all-company {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1146px;
        margin: 0 auto;
        flex-wrap: wrap;
        @include mQ(480px,
        320px) {
            width: 100%;
        }
        @include mQ(767px,
        481px) {
            width: 100%;
        }
        .single-company {
            width: 190px;
            height: 70px;
            border-right: 1px solid #3c3f43;
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child {
                border-right: none;
            }
            @include mQ(480px,
            320px) {
                width: 155px;
                border: none;
            }
            @include mQ(767px,
            481px) {
                width: 155px;
                border: none;
                margin-bottom: 35px;
            }
        }
    }
    hr.long {
        width: 1175px;
        margin: 73px auto 0;
    }
    .details {
        display: flex;
        padding-left: 177px;
        @include mQ(480px,
        320px) {
            padding-left: 10px;
            flex-direction: column;
        }
        @include mQ(767px,
        481px) {
            padding-left: 15px;
            flex-direction: column;
        }
    }
    .text {
        max-width: 397px;
        line-height: 24px;
        color: #b4b6ba;
        padding-right: 100px;
        @include mQ(480px,
        320px) {
            padding-right: 10px;
            max-width: 100%;
        }
        @include mQ(767px,
        481px) {
            max-width: 100%;
            padding-right: 10px;
        }
        p {
            padding-bottom: 33px;
        }
    }
    .image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .shape {
            font-family: 'Encode Sans';
            margin-right: 71px;
            @include mQ(480px,
            320px) {
                margin-right: 0px;
            }
            @include mQ(767px,
            481px) {
                margin-right: 0;
                margin-bottom: 110px;
            }
            &:last-child {
                margin-right: 0px;
            }
            p.category {
                text-align: center;
                padding-top: 28px;
            }
        }
        .hexagon-shape {
            background: url('../images/shape.png');
            width: 124px;
            height: 143px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: 300;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            &:hover {
                background: #ffffffb0;
                color: #252526;
                transition: all .8s;
            }
        }
    }
    h1.start-project {
        text-align: center;
        font-family: 'Source Sans Pro';
        font-size: 22px;
        line-height: 62px;
        font-weight: 300;
    }
    hr.short {
        width: 80px;
    }
    .membership-and-certificate {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 190px;
        justify-content: space-between;
        align-items: center;
        background: #23262a;
        @include mQ(480px,
        320px) {
            flex-direction: column;
            height: auto;
            position: relative;
        }
        @include mQ(767px,
        481px) {
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            position: static;
            padding: 30px 0px;
        }
        * {
            margin-top: 10px;
            @include mQ(480px,
            320px) {
                margin-top: 20px;
            }
        }
        .membership {
            position: relative;
            display: flex;
            padding-left: 100px;
            align-items: center;
            @include mQ(480px,
            320px) {
                padding-left: 0px;
            }
            @include mQ(767px,
            481px) {
                padding-left: 10px;
                width: 100%;
            }
        }
        h3 {
            position: absolute;
            top: -41%;
            font-family: 'Encode Sans';
            font-weight: 500;
            font-size: 15px;
            line-height: 61.9px;
            @include mQ(480px,
            320px) {
                top: -30%;
                width: 100%;
                text-align: center;
            }
            @include mQ(767px,
            481px) {
                top: -30%;
                width: 100%;
                text-align: center;
            }
        }
        .lahore {
            padding-right: 38px;
        }
    }
    .accreditations {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 93px;
        @include mQ(480px,
        320px) {
            padding: 0px;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 40px;
        }
        @include mQ(767px,
        481px) {
            padding-right: 0px;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 40px;
        }
        h3 {
            position: absolute;
            top: -68%;
            left: 4.5%;
            font-family: 'Encode Sans';
            font-weight: 500;
            font-size: 15px;
            line-height: 61.9px;
            @include mQ(480px,
            320px) {
                top: -20%;
                left: auto;
            }
            @include mQ(767px,
            481px) {
                top: -30%;
            }
        }
        img {
            padding-left: 35px;
            @include mQ(480px,
            320px) {
                padding-left: 0px;
            }
        }
    }
}

@keyframes bubble {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        bottom: 91%;
        opacity: .2;
    }
}

.social {
    background: #1b1d20;
    min-height: 757px;
    .section-heading p {
        font-size: 32.94px;
        line-height: 61.9px;
        font-family: 'Encode Sans';
        font-weight: 500;
    }
    .water-filter {
        position: relative;
        bottom: 50px;
        // height: 210px;
        @include mQ(480px,
        320px) {
            bottom: 10px;
        }
        i.fab {
            position: absolute;
            color: white;
            border-radius: 50%;
        }
        i.fb {
            bottom: 40%;
            left: 25%;
            border: 3px solid white;
            padding: 4px;
            height: 13px;
            animation: bubble 4s 0s ease-in infinite;
            &:hover {
                -moz-animation-play-state: paused;
                animation-play-state: paused;
            }
        }
        i.vimeo {
            bottom: 40%;
            left: 43%;
            padding: 2px;
            border: 3px solid white;
            animation: bubble 3s .5s ease-in infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        i.apple {
            bottom: 40%;
            left: 60%;
            padding: 3px;
            border: 3px solid white;
            animation: bubble 3s 1s ease-in-out infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        i.android {
            bottom: 44%;
            left: 10%;
            padding: 3px;
            border: 3px solid white;
            animation: bubble 2.5s .7s ease-in infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        i.windows {
            bottom: 43%;
            left: 74%;
            padding: 3px;
            border: 3px solid white;
            animation: bubble 3.5s 1.3s ease-in infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    .details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include mQ(480px,
        320px) {
            flex-direction: column;
        }
        @include mQ(767px,
        481px) {
            flex-direction: column;
        }
    }
    .icons {
        display: flex;
        justify-content: space-around;
        i {
            font-size: 16.98px;
            line-height: 101.19px;
            color: #6e7680;
        }
        i:hover {
            color: #f67e7d;
            font-size: 18px;
            transition: .6s;
        }
    }
    .fb-social-plugin {
        img {
            width: 100%;
        }
    }
}

footer {
    font-family: 'Source Sans Pro';
    min-height: 74px;
    display: flex;
    background: url('../images/footer-bg.png');
    justify-content: center;
    align-items: center;
    p.footer-text {
        color: #434850;
        font-size: 15px;
        line-height: 80px;
        span {
            color: #6e7680;
        }
    }
}

:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}

//   effects
$main-color: #fff;
$secondary-color: #fe5f55;
// mixins
@mixin text-hover($main-color: #fff,
$secondary-color: #ecd6d5) {
    display: inline-block;
    color: $main-color;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( to right, $secondary-color, $secondary-color 50%, $main-color 50%);
    background-size: 200% 100%;
    background-position: 100%;
    &:hover {
        transition: all .8s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }
}

.section-heading p {
    @include text-hover();
}

.hamburger h1 {
    @include text-hover(#3a3d44,
    #fff);
}

nav h6 {
    @include text-hover(#3a3d44,
    #fff);
}

nav h6.text-active {
    display: inherit !important;
    @include text-hover(#fff,
    #fff);
}

.opportunities p {
    @include text-hover(#fff,
    hsl(91,
    90%,
    49%))
}

nav.main-nav a {
    @include text-hover(#6d757f,
    white)
}

nav.main-nav span {
    @include text-hover(#6d757f,
    white)
}