/* encode-sans-300 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Encode-Sans/encode-sans-v4-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Light"), local("EncodeSans-Light"), url("../fonts/Encode-Sans/encode-sans-v4-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-300.woff2") format("woff2"), url("../fonts/Encode-Sans/encode-sans-v4-latin-300.woff") format("woff"), url("../fonts/Encode-Sans/encode-sans-v4-latin-300.ttf") format("truetype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-300.svg#EncodeSans") format("svg");
  /* Legacy iOS */
}

/* encode-sans-600 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Encode-Sans/encode-sans-v4-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans SemiBold"), local("EncodeSans-SemiBold"), url("../fonts/Encode-Sans/encode-sans-v4-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-600.woff2") format("woff2"), url("../fonts/Encode-Sans/encode-sans-v4-latin-600.woff") format("woff"), url("../fonts/Encode-Sans/encode-sans-v4-latin-600.ttf") format("truetype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-600.svg#EncodeSans") format("svg");
  /* Legacy iOS */
}

/* encode-sans-regular - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Encode-Sans/encode-sans-v4-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Regular"), local("EncodeSans-Regular"), url("../fonts/Encode-Sans/encode-sans-v4-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-regular.woff2") format("woff2"), url("../fonts/Encode-Sans/encode-sans-v4-latin-regular.woff") format("woff"), url("../fonts/Encode-Sans/encode-sans-v4-latin-regular.ttf") format("truetype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-regular.svg#EncodeSans") format("svg");
  /* Legacy iOS */
}

/* encode-sans-500 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Encode-Sans/encode-sans-v4-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Medium"), local("EncodeSans-Medium"), url("../fonts/Encode-Sans/encode-sans-v4-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-500.woff2") format("woff2"), url("../fonts/Encode-Sans/encode-sans-v4-latin-500.woff") format("woff"), url("../fonts/Encode-Sans/encode-sans-v4-latin-500.ttf") format("truetype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-500.svg#EncodeSans") format("svg");
  /* Legacy iOS */
}

/* encode-sans-700 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Encode-Sans/encode-sans-v4-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Bold"), local("EncodeSans-Bold"), url("../fonts/Encode-Sans/encode-sans-v4-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-700.woff2") format("woff2"), url("../fonts/Encode-Sans/encode-sans-v4-latin-700.woff") format("woff"), url("../fonts/Encode-Sans/encode-sans-v4-latin-700.ttf") format("truetype"), url("../fonts/Encode-Sans/encode-sans-v4-latin-700.svg#EncodeSans") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-300.woff2") format("woff2"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-300.woff") format("woff"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-300.ttf") format("truetype"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-300.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-regular.woff2") format("woff2"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-regular.woff") format("woff"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-regular.ttf") format("truetype"), url("../fonts/Source-Sans-Pro/source-sans-pro-v13-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
address,
p,
input,
button,
div {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Encode Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.show-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menu-and-banner {
  background: url("../images/banner-bg.jpg") no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu-and-banner {
    height: 90vh;
  }
}

.menu-and-banner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-and-banner .menu .hamburger {
  margin-left: 34px;
  cursor: pointer;
  display: inline-block;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu-and-banner .menu .hamburger {
    margin-left: 10px;
  }
}

.menu-and-banner .menu .hamburger nav.main-nav {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: #23262a;
  left: 0%;
  top: 0%;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu-and-banner .menu .hamburger nav.main-nav a {
  font-family: 'Source Sans Pro';
  font-size: 70px;
  text-decoration: none;
  font-weight: 700;
}

.menu-and-banner .menu .hamburger nav.main-nav span {
  font-size: 80px;
  position: absolute;
  left: 3%;
  top: 0%;
}

.menu-and-banner .menu .hamburger i.fas {
  font-size: 19px;
  color: #6e7680;
  width: 27px;
}

.menu-and-banner .menu .hamburger i#hamburger:hover {
  color: #fff;
}

.menu-and-banner .menu .site-title {
  margin-right: 41px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu-and-banner .menu .site-title {
    margin-right: 10px;
  }
}

.menu-and-banner .menu .site-title h1 {
  font-weight: 500;
  color: #6e7680;
  font-size: 15px;
  line-height: 80px;
}

.menu-and-banner .menu h1 {
  font-family: 'Encode Sans';
  font-weight: 700;
  color: #3a3d44;
  font-size: 19px;
  line-height: 80px;
  display: inline;
}

.menu-and-banner .banner {
  padding-left: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .menu-and-banner .banner {
    padding-left: 40px;
    height: auto;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .menu-and-banner .banner {
    padding-left: 15px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu-and-banner .banner {
    padding-left: 15px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-and-banner .banner .banner-text {
  font-family: 'Encode Sans';
  font-weight: 500;
  color: #fff;
  font-size: 56px;
  line-height: 76px;
  max-width: 531px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu-and-banner .banner .banner-text {
    font-size: 32px;
    line-height: 55px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .menu-and-banner .banner .banner-text {
    font-size: 37px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .menu-and-banner .banner .banner-text {
    max-width: 60%;
  }
}

.menu-and-banner .animation-container .thumbs-up {
  position: absolute;
  -webkit-animation: rocket 3s ease-in-out forwards;
          animation: rocket 3s ease-in-out forwards;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu-and-banner .animation-container .thumbs-up {
    left: 13%;
  }
}

.menu-and-banner .animation-container .thumbs-up img.mobile {
  width: 100%;
}

.menu-and-banner .animation-container .thumbs-up .hand {
  position: absolute;
  top: 29%;
  left: 38%;
  opacity: 0;
  width: 58.8059701493%;
  -webkit-animation: like 1s 3s ease-in-out forwards;
          animation: like 1s 3s ease-in-out forwards;
}

@-webkit-keyframes like {
  0% {
    top: 20%;
    left: 29%;
    opacity: 0;
  }
  100% {
    top: 29%;
    left: 38%;
    opacity: 1;
  }
}

@keyframes like {
  0% {
    top: 20%;
    left: 29%;
    opacity: 0;
  }
  100% {
    top: 29%;
    left: 38%;
    opacity: 1;
  }
}

@-webkit-keyframes rocket {
  0% {
    right: 36%;
    bottom: -24%;
  }
  100% {
    right: 13%;
    bottom: 19%;
  }
}

@keyframes rocket {
  0% {
    right: 36%;
    bottom: -24%;
  }
  100% {
    right: 13%;
    bottom: 19%;
  }
}

.clickable-icon {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 5;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clickable-icon {
    display: none;
  }
}

.clickable-icon .circle.active {
  background: #fff;
}

.clickable-icon .circle {
  width: 17px;
  height: 17px;
  background: #535356;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.clickable-icon .circle::before {
  content: '';
  display: block;
  background: #222528;
  height: 11.5px;
  width: 11.5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clickable-icon .circle::after {
  content: '';
  display: block;
  height: 38px;
  background: #535356;
  width: 3px;
  position: absolute;
  top: 100%;
  left: 43%;
  cursor: default;
}

.clickable-icon .second-circle {
  position: absolute;
  top: 55px;
}

.clickable-icon .third-circle {
  position: absolute;
  top: 110px;
}

.clickable-icon .fourth-circle {
  position: absolute;
  top: 165px;
}

.clickable-icon .fifth-circle {
  position: absolute;
  top: 220px;
}

.clickable-icon .last-circle::after {
  display: none;
}

.section-heading {
  font-family: 'Encode Sans';
  font-weight: 500;
  font-size: 45px;
  line-height: 57.96px;
  color: #fff;
  padding-top: 89px;
  padding-bottom: 104px;
  text-align: center;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .section-heading {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .section-heading {
    padding-top: 35px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-heading {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.text p {
  font-family: 'Source Sans Pro';
  font-size: 17px;
  line-height: 22px;
}

.about-us {
  background: #23262a;
  min-height: 782px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-us {
    min-height: 1024px;
  }
}

.about-us .section-heading p {
  font-family: 'Encode Sans';
  font-weight: 500;
  font-size: 45px;
  line-height: 57.96px;
}

.about-us .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 99px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-us .details {
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .about-us .details {
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-us .details {
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-us .details .text {
  max-width: 541px;
  padding-right: 120px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-us .details .text {
    max-width: 100%;
    padding-right: 15px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .about-us .details .text {
    padding-right: 15px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-us .details .text {
    padding-right: 0px;
    max-width: 100%;
  }
}

.about-us .details .text p {
  padding-bottom: 73px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-us .details .text p {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-us .details .text p {
    padding-bottom: 50px;
  }
}

.about-us .opportunities {
  position: relative;
  height: 410px;
  top: 35px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-us .opportunities {
    height: auto;
    top: 0;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .about-us .opportunities {
    height: auto;
    top: 0;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-us .opportunities {
    width: 60%;
    margin: 0 auto;
  }
}

.about-us .opportunities img.cross {
  position: static;
  width: 100%;
}

.about-us .opportunities .brand-builder {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .opportunities .bulb {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-us .opportunities .bulb {
    top: -7%;
  }
}

.about-us .opportunities .well-organized {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .opportunities .content-creator {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .opportunities p {
  font-family: 'Encode Sans';
  font-size: 17.53px;
  line-height: 26.97px;
  margin-top: 28px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-us .opportunities p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0px;
  }
}

.about-us p {
  font-family: 'Source Sans Pro';
  font-size: 17px;
  line-height: 22px;
}

nav h6.text-active {
  color: #fff;
  position: relative;
}

nav h6.text-active::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  bottom: -6px;
}

.core-value {
  min-height: 909px;
  background: #1b1d20;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .core-value {
    min-height: 755px;
  }
}

.core-value .section-heading p {
  font-family: 'Encode Sans';
  font-weight: 500;
  font-size: 45px;
  line-height: 57.96px;
}

.core-value nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1076px;
  margin-bottom: 111px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.core-value h6 {
  font-family: 'Source Sans Pro';
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #494a4d;
  text-align: center;
  border: 1px solid #333639;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  position: relative;
  cursor: pointer;
}

.core-value h6:first-child {
  border-left: none;
}

.core-value h6:last-child {
  border-right: none;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .core-value h6 {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .core-value h6 {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }
}

.core-value .details.active-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.core-value .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  display: none;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .core-value .details {
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .core-value .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .core-value .details {
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.core-value .details .text {
  max-width: 397px;
  padding-right: 110px;
  padding-left: 50px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .core-value .details .text {
    padding-right: 10px;
    padding-left: 0px;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .core-value .details .text {
    margin-top: 35px;
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .core-value .details .text {
    padding-right: 0px;
  }
}

.core-value .details .text h2 {
  font-family: 'Encode Sans';
  font-weight: 500;
  padding-bottom: 42px;
  font-size: 24px;
  line-height: 22px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .core-value .details .text h2 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .core-value .details .text h2 {
    text-align: center;
  }
}

.core-value .details .text p {
  padding-bottom: 35px;
}

.core-value .details .image img {
  width: 100%;
}

.pt-0 {
  padding-top: 0;
}

hr {
  background: #56595c;
  height: 1px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.clients {
  background: url("../images/background.jpg") no-repeat;
  min-height: 1148px;
  position: relative;
  background-attachment: fixed;
  background-position: 0%;
  background-size: cover;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients {
    min-height: 1366px;
  }
}

.clients .section-heading {
  padding-top: 79px;
  padding-bottom: 84px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .section-heading {
    padding-top: 10px;
    padding-bottom: 45px;
  }
}

.clients .section-heading p {
  font-size: 32.94px;
  line-height: 61.9px;
  font-family: 'Encode Sans';
  font-weight: 500;
}

.clients .all-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1146px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .all-company {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .all-company {
    width: 100%;
  }
}

.clients .all-company .single-company {
  width: 190px;
  height: 70px;
  border-right: 1px solid #3c3f43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients .all-company .single-company:last-child {
  border-right: none;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .all-company .single-company {
    width: 155px;
    border: none;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .all-company .single-company {
    width: 155px;
    border: none;
    margin-bottom: 35px;
  }
}

.clients hr.long {
  width: 1175px;
  margin: 73px auto 0;
}

.clients .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 177px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .details {
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .details {
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .details {
    padding-left: 15px;
  }
}

.clients .text {
  max-width: 397px;
  line-height: 24px;
  color: #b4b6ba;
  padding-right: 100px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .text {
    padding-right: 10px;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .text {
    max-width: 100%;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .text {
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients .text p {
  padding-bottom: 33px;
}

.clients .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clients .image .shape {
  font-family: 'Encode Sans';
  margin-right: 71px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .image .shape {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .image .shape {
    margin-right: 0;
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .image .shape {
    margin-right: 0px;
  }
}

.clients .image .shape:last-child {
  margin-right: 0px;
}

.clients .image .shape p.category {
  text-align: center;
  padding-top: 28px;
}

.clients .image .hexagon-shape {
  background: url("../images/shape.png");
  width: 124px;
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.clients .image .hexagon-shape:hover {
  background: #ffffffb0;
  color: #252526;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.clients h1.start-project {
  text-align: center;
  font-family: 'Source Sans Pro';
  font-size: 22px;
  line-height: 62px;
  font-weight: 300;
}

.clients hr.short {
  width: 80px;
}

.clients .membership-and-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #23262a;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .membership-and-certificate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    position: relative;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .membership-and-certificate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    position: static;
    padding: 30px 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .membership-and-certificate {
    height: 295px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.clients .membership-and-certificate * {
  margin-top: 10px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .membership-and-certificate * {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .membership-and-certificate * {
    margin-top: 0%;
  }
}

.clients .membership-and-certificate .membership {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .membership-and-certificate .membership {
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .membership-and-certificate .membership {
    padding-left: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .membership-and-certificate .membership {
    padding-left: 40px;
    margin-top: 30px;
  }
}

.clients .membership-and-certificate h3 {
  position: absolute;
  top: -41%;
  font-family: 'Encode Sans';
  font-weight: 500;
  font-size: 15px;
  line-height: 61.9px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .membership-and-certificate h3 {
    top: -30%;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .membership-and-certificate h3 {
    top: -30%;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .clients .membership-and-certificate h3 {
    top: -50%;
  }
}

.clients .membership-and-certificate .lahore {
  padding-right: 38px;
}

.clients .accreditations {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 93px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .accreditations {
    padding: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .accreditations {
    padding-right: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
  }
}

.clients .accreditations h3 {
  position: absolute;
  top: -68%;
  left: 4.5%;
  font-family: 'Encode Sans';
  font-weight: 500;
  font-size: 15px;
  line-height: 61.9px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .accreditations h3 {
    top: -20%;
    left: auto;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .clients .accreditations h3 {
    top: -30%;
  }
}

.clients .accreditations img {
  padding-left: 35px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .clients .accreditations img {
    padding-left: 0px;
  }
}

@-webkit-keyframes bubble {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    bottom: 91%;
    opacity: .2;
  }
}

@keyframes bubble {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    bottom: 91%;
    opacity: .2;
  }
}

.social {
  background: #1b1d20;
  min-height: 757px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .social {
    min-height: 570px;
  }
}

.social .section-heading p {
  font-size: 32.94px;
  line-height: 61.9px;
  font-family: 'Encode Sans';
  font-weight: 500;
}

.social .water-filter {
  position: relative;
  bottom: 50px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .social .water-filter {
    bottom: 10px;
  }
}

.social .water-filter i.fab {
  position: absolute;
  color: white;
  border-radius: 50%;
}

.social .water-filter i.fb {
  bottom: 40%;
  left: 25%;
  border: 3px solid white;
  padding: 4px;
  height: 13px;
  -webkit-animation: bubble 4s 0s ease-in infinite;
          animation: bubble 4s 0s ease-in infinite;
}

.social .water-filter i.fb:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.social .water-filter i.vimeo {
  bottom: 40%;
  left: 43%;
  padding: 2px;
  border: 3px solid white;
  -webkit-animation: bubble 3s .5s ease-in infinite;
          animation: bubble 3s .5s ease-in infinite;
}

.social .water-filter i.vimeo:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.social .water-filter i.apple {
  bottom: 40%;
  left: 60%;
  padding: 3px;
  border: 3px solid white;
  -webkit-animation: bubble 5s 1s ease-in-out infinite;
          animation: bubble 5s 1s ease-in-out infinite;
}

.social .water-filter i.apple:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.social .water-filter i.android {
  bottom: 44%;
  left: 10%;
  padding: 3px;
  border: 3px solid white;
  -webkit-animation: bubble 2.5s .7s ease-in infinite;
          animation: bubble 2.5s .7s ease-in infinite;
}

.social .water-filter i.android:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.social .water-filter i.windows {
  bottom: 43%;
  left: 74%;
  padding: 3px;
  border: 3px solid white;
  -webkit-animation: bubble 3.5s 1.3s ease-in infinite;
          animation: bubble 3.5s 1.3s ease-in infinite;
}

.social .water-filter i.windows:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.social .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .social .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .social .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social .icons i {
  font-size: 16.98px;
  line-height: 101.19px;
  color: #6e7680;
}

.social .icons i:hover {
  color: #f67e7d;
  font-size: 18px;
  -webkit-transition: .6s;
  transition: .6s;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .social .fb-social-plugin {
    width: 50%;
  }
}

.social .fb-social-plugin img {
  width: 100%;
}

footer {
  font-family: 'Source Sans Pro';
  min-height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/footer-bg.png");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p.footer-text {
  color: #434850;
  font-size: 15px;
  line-height: 80px;
}

footer p.footer-text span {
  color: #6e7680;
}

:hover {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

.section-heading p {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#ecd6d5), color-stop(50%, #ecd6d5), color-stop(50%, #fff));
  background-image: linear-gradient(to right, #ecd6d5, #ecd6d5 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.section-heading p:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

.hamburger h1 {
  display: inline-block;
  color: #3a3d44;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #3a3d44));
  background-image: linear-gradient(to right, #fff, #fff 50%, #3a3d44 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.hamburger h1:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

nav h6 {
  display: inline-block;
  color: #3a3d44;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #3a3d44));
  background-image: linear-gradient(to right, #fff, #fff 50%, #3a3d44 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

nav h6:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

nav h6.text-active {
  display: inherit !important;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #fff));
  background-image: linear-gradient(to right, #fff, #fff 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

nav h6.text-active:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

.opportunities p {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#79ed0c), color-stop(50%, #79ed0c), color-stop(50%, #fff));
  background-image: linear-gradient(to right, #79ed0c, #79ed0c 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.opportunities p:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

nav.main-nav a {
  display: inline-block;
  color: #6d757f;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, white), color-stop(50%, #6d757f));
  background-image: linear-gradient(to right, white, white 50%, #6d757f 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

nav.main-nav a:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

nav.main-nav span {
  display: inline-block;
  color: #6d757f;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, white), color-stop(50%, #6d757f));
  background-image: linear-gradient(to right, white, white 50%, #6d757f 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

nav.main-nav span:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}
/*# sourceMappingURL=style.css.map */