*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
address,
p,
input,
button,
div {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Encode Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    box-sizing: border-box;
    color: #fff;
}

.menu-and-banner {
    background: url('../images/banner-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 100%;
    // min-height: 100vh;
    // min-height: 807px; //as psd
    height: 100vh;
    .menu {
        .hamburger {
            margin-left: 34px;
            cursor: pointer;
            display: inline-block;
            img {
                // margin: 33px 10px 0px 34px;
                padding-right: 10px;
            }
        }
        h1 {
            font-family: 'Encode Sans';
            font-weight: 700;
            color: #3a3d44;
            font-size: 19px;
            line-height: 80px;
            display: inline;
        }
    }
    .banner {
        // padding-top: 250px;
        padding-left: 189px;
        display: flex;
        align-items: center;
        height: 100%;
        .banner-text {
            font-family: 'Encode Sans';
            font-weight: 500;
            color: #fff;
            font-size: 56px;
            line-height: 76px;
            max-width: 531px;
        }
    }
    .animation-container {
        .thumbs-up {
            img {}
        }
    }
}

// .clickable-icon {
//     width: 17px;
//     text-align: center;
//     position: fixed;
//     top: 165px;
//     right: 34px;
//     z-index: 1;
// }
.clickable-icon {
    position: fixed;
    top: 165px;
    right: 34px;
    z-index: 1;
    .circle.active {
        background: #fff;
    }
    .circle {
        width: 17px;
        height: 17px;
        background: #535356;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            background: #222528;
            height: 11.5px;
            width: 11.5px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            content: '';
            display: block;
            height: 38px;
            background: #535356;
            width: 3px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            cursor: default;
        }
    }
    .second-circle {
        position: absolute;
        top: 55px;
    }
    .third-circle {
        position: absolute;
        top: 110px;
    }
    .fourth-circle {
        position: absolute;
        top: 165px;
    }
    .fifth-circle {
        position: absolute;
        top: 220px;
    }
    .last-circle::after {
        display: none;
    }
}

.section-heading {
    font-family: 'Encode Sans';
    font-weight: 500;
    font-size: 45px;
    line-height: 57.96px;
    color: #fff;
    padding-top: 89px;
    padding-bottom: 104px;
    text-align: center;
}

.text {
    p {
        font-family: 'Source Sans Pro';
        font-size: 17px;
        line-height: 22px;
    }
}

.about-us {
    background: #23262a;
    min-height: 782px;
    .section-heading p {
        font-family: 'Encode Sans';
        font-weight: 500;
        font-size: 45px;
        line-height: 57.96px;
    }
    .details {
        display: flex;
        padding-left: 99px;
        .text {
            max-width: 541px;
            padding-right: 152px;
            p {
                padding-bottom: 73px;
            }
        }
    }
    @mixin center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .opportunities {
        position: relative;
        height: 410px;
        img.cross {
            position: static;
        }
        .brand-builder {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            @include center;
        }
        .bulb {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            @include center;
        }
        .well-organized {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            @include center;
        }
        .content-creator {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            @include center;
        }
    }
    p {
        font-family: 'Encode Sans';
        font-size: 17.53px;
        line-height: 26.97px;
        margin-top: 28px;
    }
}

nav h6.text-active {
    color: #fff;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        position: absolute;
        bottom: -6px;
    }
}

.core-value {
    min-height: 909px;
    background: #1b1d20;
    .section-heading {
        p {
            font-family: 'Encode Sans';
            font-weight: 500;
            font-size: 45px;
            line-height: 57.96px;
        }
    }
    nav {
        display: flex;
        max-width: 1076px;
        margin-bottom: 111px;
        margin-left: auto;
        margin-right: auto;
    }
    h6 {
        font-family: 'Source Sans Pro';
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        flex: 1;
        text-decoration: none;
        color: #494a4d;
        text-align: center;
        border: 1px solid #333639;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: none;
        position: relative;
        cursor: pointer;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
    .details.active-detail {
        display: flex;
    }
    .details {
        display: flex;
        padding-left: 176px;
        display: none;
        .text {
            max-width: 397px;
            padding-right: 145px;
            h2 {
                font-family: 'Encode Sans';
                font-weight: 500;
                padding-bottom: 42px;
                font-size: 24px;
                line-height: 22px;
            }
            p {
                padding-bottom: 35px;
            }
        }
    }
}

.pt-0 {
    padding-top: 0;
}

hr {
    background: #56595c;
    height: 1px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    ;
}

.clients {
    background: url('../images/background.jpg') no-repeat;
    min-height: 1148px;
    position: relative;
    background-attachment: fixed;
    background-position: 0%;
    background-size: cover;
    .section-heading {
        padding-top: 79px;
        padding-bottom: 84px;
        p {
            font-size: 32.94px;
            line-height: 61.9px;
            font-family: 'Encode Sans';
            font-weight: 500;
        }
    }
    .all-company {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1048px;
        margin: 0 auto;
        .single-company {
            width: 190px;
            height: 70px;
            border-right: 1px solid #3c3f43;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    hr.long {
        width: 1175px;
        margin: 73px auto 0;
    }
    .details {
        display: flex;
        padding-left: 177px;
    }
    .text {
        max-width: 397px;
        line-height: 24px;
        color: #b4b6ba;
        padding-right: 122px;
        p {
            padding-bottom: 33px;
        }
    }
    .image {
        display: flex;
        .shape {
            font-family: 'Encode Sans';
            margin-right: 71px;
            &:last-child {
                margin-right: 0px;
            }
            p.category {
                text-align: center;
                padding-top: 28px;
            }
        }
        .hexagon-shape {
            background: url('../images/shape.png');
            width: 124px;
            height: 143px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: 300;
        }
    }
    h1.start-project {
        text-align: center;
        font-family: 'Source Sans Pro';
        font-size: 22px;
        line-height: 62px;
        font-weight: 300;
        padding-top: 40px;
        padding-bottom: 24px;
    }
    hr.short {
        width: 80px;
    }
    .membership-and-certificate {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 190px;
        justify-content: space-between;
        align-items: center;
        background: #23262a;
        .membership {
            display: flex;
            padding-left: 100px;
            align-items: center;
            .lahore {
                padding-right: 38px;
            }
        }
        .accreditations {
            display: flex;
            align-items: center;
            padding-right: 93px;
            img {
                padding-left: 35px;
            }
        }
    }
}

.social {
    background: #1b1d20;
    min-height: 757px;
    .section-heading p {
        font-size: 32.94px;
        line-height: 61.9px;
        font-family: 'Encode Sans';
        font-weight: 500;
    }
    .water-filter {
        position: relative;
        // height: 210px;
        i.fab {
            position: absolute;
            bottom: 0;
        }
        i.fb {}
    }
    .details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .icons {
        display: flex;
        justify-content: space-around;
        i {
            font-size: 16.98px;
            line-height: 101.19px;
            color: #6e7680;
        }
        i:hover {
            color: #f67e7d;
            font-size: 18px;
            transition: .6s;
        }
    }
}

footer {
    font-family: 'Source Sans Pro';
    min-height: 74px;
    display: flex;
    background: url('../images/banner-bg.jpg');
    justify-content: center;
    align-items: center;
    p.footer-text {
        color: #434850;
        font-size: 15px;
        line-height: 80px;
        span {
            color: #6e7680;
        }
    }
}

:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}

//   effects
$main-color: #fff;
$secondary-color: #fe5f55;
// mixins
@mixin text-hover($main-color: #fff,
$secondary-color: #fe5f55) {
    display: inline-block;
    color: $main-color;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( to right, $secondary-color, $secondary-color 50%, $main-color 50%);
    background-size: 200% 100%;
    background-position: 100%;
    &:hover {
        transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }
}

.section-heading p {
    @include text-hover();
}

.hamburger h1 {
    @include text-hover(#3a3d44,
    #fff);
}

nav h6 {
    @include text-hover(#3a3d44,
    #fff);
}

nav h6.text-active {
    display: inherit !important;
    @include text-hover(#fff,
    #fff);
}